version: "3.5"

services:
  db:
    container_name: "${PG_CONTAINER_NAME}"
    image: timescale/timescaledb:latest-pg14
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-smae}
      POSTGRES_USER: ${POSTGRES_USER:-smae}
      POSTGRES_DB: ${POSTGRES_DB:-smae_dev_persistent}
    networks:
      - smae_network
    volumes:
      - ${DATA_PATH}/smae_pg_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:${PG_DB_LISTEN}:5432"
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB
    restart: unless-stopped

  metabase:
    image: metabase/metabase:latest
    container_name: "${API_CONTAINER_NAME}_metabase"
    restart: unless-stopped
    hostname: metabase
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - "${BIND_INTERFACE}${METADB_LISTEN}:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: ${MB_DB_DBNAME:-metabase}
      MB_DB_PORT: 5432
      MB_DB_USER: ${MB_DB_USER:-postgres}
      MB_DB_PASS: ${MB_DB_PASS:-password}
      MB_DB_HOST: ${MB_DB_HOST:-metadb_postgres}
      MB_SITE_URL: "${MB_SITE_URL}"
    networks:
      - smae_network
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5

  metadb_postgres:
    image: postgres:15
    restart: unless-stopped
    container_name: "${API_CONTAINER_NAME}_metadb_postgres"
    hostname: postgres
    environment:
      POSTGRES_USER: ${MB_DB_USER:-postgres}
      POSTGRES_DB: ${MB_DB_DBNAME:-metabase}
      POSTGRES_PASSWORD: ${MB_DB_PASS:-password}
    volumes:
      - ${DATA_PATH}/smae_pg_metabase_data:/var/lib/postgresql/data
    networks:
      - smae_network

  smae_api:
    container_name: "${API_CONTAINER_NAME}"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/backend:${IMAGE_TAG:-latest}
    restart: unless-stopped
    ports:
      - "${BIND_INTERFACE}${SMAE_API_LISTEN}:3001"
    environment:
      DATABASE_URL: "${DATABASE_URL}"
      SESSION_JWT_SECRET: "${SESSION_JWT_SECRET}"
      MAX_QTDE_SENHA_INVALIDA_PARA_BLOCK: "3"
      URL_LOGIN_SMAE: "${URL_LOGIN_SMAE}"
      S3_ACCESS_KEY: "${S3_ACCESS_KEY}"
      S3_SECRET_KEY: "${S3_SECRET_KEY}"
      S3_BUCKET: "${S3_BUCKET}"
      S3_HOST: "${S3_HOST}"
      CPF_OBRIGATORIO_SEM_RF: "${CPF_OBRIGATORIO_SEM_RF}"
      MATCH_EMAIL_RF_OBRIGATORIO: "${MATCH_EMAIL_RF_OBRIGATORIO}"
      SOF_API_PREFIX: "${SOF_API_PREFIX}"
      HEALTH_CHECK_TOKEN: "${HEALTH_CHECK_TOKEN}"
      PRISMA_FIELD_ENCRYPTION_KEY: "${PRISMA_FIELD_ENCRYPTION_KEY}"
      PRISMA_FIELD_DECRYPTION_KEYS: "${PRISMA_FIELD_DECRYPTION_KEYS}"
      LOG_REQ_ON_DB: "${LOG_REQ_ON_DB}"
      LOG_DB_SKIP_URL_LIST: "${LOG_DB_SKIP_URL_LIST}"
      GEO_API_PREFIX: "${GEO_API_PREFIX}"
      SEI_API_PREFIX: "${SEI_API_PREFIX}"
      TRANSFEREGOV_API_PREFIX: "${TRANSFEREGOV_API_PREFIX}"
      TRANSFEREGOV_API_TRANSFERENCIAS_PREFIX: "${TRANSFEREGOV_API_TRANSFERENCIAS_PREFIX}"
      DOTACAO_SOF_SIMULTANEIDADE: "${DOTACAO_SOF_SIMULTANEIDADE}"
      API_HOST_NAME: "${API_HOST_NAME}"
      GOTENBERG_URL: "http://gotenberg:3000"
    networks:
      - smae_network
    depends_on:
      - db
      - minio
      - gotenberg
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  gotenberg:
    container_name: "${API_CONTAINER_NAME}_gotenberg"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/gotenberg:${IMAGE_TAG:-latest}
    restart: unless-stopped
    command:
      - "gotenberg"
      - "--api-timeout=30s"
      - "--api-port-from-env=GOTENBERG_API_PORT"
    environment:
      GOTENBERG_API_PORT: 3000
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  smae_orcamento:
    container_name: "${API_CONTAINER_NAME}_orcamento"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/backend-orcamento:${IMAGE_TAG:-latest}
    restart: unless-stopped
    environment:
      SOF_API_TOKEN: "${SOF_API_TOKEN}"
      SOF_API_HOST: "gateway.apilib.prefeitura.sp.gov.br/sf/sof/"
      SOF_API_VERSION: "v4"
      PORT: 80
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  smae_geoloc:
    container_name: "${API_CONTAINER_NAME}_geoloc"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/backend-geoloc:${IMAGE_TAG:-latest}
    restart: unless-stopped
    environment:
      CITY: "Sao Paulo"
      STATE: "Sao Paulo"
      COUNTRY_ISO: "BR"
      NOMINATIM_EMAIL: "${NOMINATIM_EMAIL}"
      GEOSAMPA_WFS_DOMAIN: "https://geoserver.slui.dev/geoserver/slui/ows"
      GEOSAMPA_API_VERSION: "1.0.0"
      DISTANCIA_PADRAO_MTS_GEOSAMPA: "5"
      NAMES_CAMADAS_TTL_SECONDS: "21600"
      AZURE_KEY: "${AZURE_KEY}"
      USE_AZURE: "${USE_AZURE}"
      GEOSAMPA_LAYER_PREFIX: "slui:"
      MAX_ADDRESSES: 5
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  smae_transferegov:
    container_name: "${API_CONTAINER_NAME}_transferegov"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/backend-transferegov:${IMAGE_TAG:-latest}
    restart: unless-stopped
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  smae_transferegov_transferencias:
    container_name: "${API_CONTAINER_NAME}_transferegov_transferencias"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/backend-transferegov-transferencias:${IMAGE_TAG:-latest}
    environment:
      DOWNLOAD_TTL_SECS: ${TRANSFEREGOV_TRANSFERENCIAS_DOWNLOAD_TTL_SECS}
      MAX_RETRIES: ${TRANSFEREGOV_TRANSFERENCIAS_MAX_RETRIES}
      COD_PROPONENTE_CIDADE: ${TRANSFEREGOV_TRANSFERENCIAS_COD_PROPONENTE_CIDADE}
    restart: unless-stopped
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  smae_sei:
    container_name: "${API_CONTAINER_NAME}_sei"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/backend-sei:${IMAGE_TAG:-latest}
    restart: unless-stopped
    environment:
      host_sei: "${SEI_HOST}"
      endpoint_wsdl: "${SEI_ENDPOINT_WSDL}"
      sigla_sistema: "${SEI_SIGLA_SISTEMA}"
      identificacao_servico: "${SEI_API_TOKEN}"
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  email_service:
    container_name: "${EMAILDB_CONTAINER_NAME}"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/email-service:${IMAGE_TAG:-latest}
    restart: unless-stopped
    environment:
      VARIABLES_JSON_IS_UTF8: "1"
      EMAILDB_DB_HOST: "db"
      EMAILDB_DB_PASS: ${POSTGRES_PASSWORD:-smae}
      EMAILDB_DB_NAME: ${POSTGRES_DB:-smae_dev_persistent}
      EMAILDB_DB_USER: ${POSTGRES_USER:-smae}
      EMAILDB_DB_PORT: "5432"
      EMAILDB_MAX_WORKERS: "1"
      EMAILDB_FETCH_ROWS: "100"
    volumes:
      - ${DATA_PATH}/smae_email_data:/data/
    depends_on:
      - db
    networks:
      - smae_network
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  smtp_web:
    container_name: "${EMAILDB_CONTAINER_NAME}_smtp_web"
    restart: unless-stopped
    image: rnwood/smtp4dev:latest
    ports:
      - "127.0.0.1:${SMTP_WEB_LISTEN}:80"
    networks:
      - smae_network
    profiles:
      - fullStack
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 100MB

  minio:
    container_name: "${MINIO_CONTAINER_NAME}"
    image: minio/minio:RELEASE.2023-08-29T23-07-35Z
    hostname: minio
    command: server --console-address ":9001" /data
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
    networks:
      - smae_network
    ports:
      - "127.0.0.1:${MINIO_S3_LISTEN}:9000"
      - "127.0.0.1:${MINIO_CONSOLE_LISTEN}:9001"
    volumes:
      - ${DATA_PATH}/smae_minio_data:/data
    logging:
      driver: "json-file"
      options:
        max-file: '100'
        max-size: 1m

  web:
    container_name: "${WEB_CONTAINER_NAME}"
    image: southamerica-east1-docker.pkg.dev/stoked-coder-451819-v9/smae/frontend:${IMAGE_TAG:-latest}
    networks:
      - smae_network
    depends_on:
      - smae_api
      - metabase
    profiles:
      - fullStack
    restart: unless-stopped
    environment:
      VITE_API_URL: "${VITE_API_URL}"
    ports:
      - "${BIND_INTERFACE}${SMAE_WEB_LISTEN}:80"
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: 1MB

networks:
  smae_network:
    driver_opts:
      com.docker.network.driver.mtu: ${DOCKER_MTU:-1500}
